.display-5 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

$spacers: (
  6: (
    1rem * 6,
  ),
);

@import "./styles/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "./styles/darkly/bootswatch";

.nav-tabs {
  .nav-link.active {
    background-color: $primary;
    border: none;
  }
}

.tab-pane {
  &.border-left,
  &.border-right {
    border-color: $gray-700 !important;
  }
}

footer {
  background-color: $body-bg;
}
